@use "../../styles/colors.scss";

.light {
    background: rgba(colors.$primary_main, 10%) !important;
}


.collector {
    display: flex;
    align-items: center;
    background: colors.$background_paper;
}

.number {
    padding: 40px;
    background: rgba(colors.$primary_main, 10%);
}