@use "../../styles/colors";

.backgroundTimeLeft {
  background: rgba(colors.$secondary_main, 0.1) !important;
}

.media {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold !important;
  font-size: 1.2rem !important;
}

.price {
  color: colors.$secondary_main;
  font-weight: bold !important;
  font-size: 1rem !important;
}

.likes {
  border-color: colors.$secondary_main !important;
  color: colors.$secondary_main !important;
  background: rgba(colors.$secondary_main, 0.1) !important;
  font-weight: bold !important;
}

.liveContainer {
  border-radius: 30px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.countdownContainer {
  background: colors.$secondary_main !important;
  text-align: center;
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
}

.badge {
  display: flex;
  align-items: center;
  background: colors.$secondary_main !important;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  color: black;
  top: 15px;
  left: 20px;
}

.badge p {
  margin: 0 0 0 1px !important;
  font-weight: bold !important;
  font-size: 0.8rem;
}

.countdown {
  position: absolute;
}
