@use "../../styles/colors";

.product-info-timer {
  width: 250px;
  border-radius: 10px;
  font-size: 1rem;
  overflow: hidden;
  text-align: center;
  color: black;
  background-color: colors.$background_paper;
}

.title {
  font-size: 1rem;
  padding: 5px;
  text-transform: uppercase;
  margin: 0 !important;
  font-weight: bold;
  background-color: colors.$secondary_main;
}

.timer {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  height: 100px;
}

.active {
  background-color: colors.$success_main;
}
