@use '../../styles/colors.scss';

.product-info-creator {
    width: 100%;
    font-size: 1rem;
    color: colors.$primary_main;
}

.title {
    font-size: 1rem;
}

.user-container {
    width: 100%;
}