@use "../../styles/colors";


.container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: colors.$background_paper;
}

.link {
    color: #fff;
    margin-right: 15px;
}

.footerText {
    color: colors.$text_secondary;
    margin: 0 !important;
}