@use '../../styles/colors.scss';

.wrapper {
    padding: 80px 0;
}

.howContainer {
    background: colors.$primary_main;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textContainer {
    width: 40%;
}

.title {
    line-height: 5rem !important;
}

.btn {
    background: #fff !important;
    color: colors.$primary_main !important;
    margin-top: 2rem !important;
}

.description {
    color: colors.$text_secondary !important;
}

.steps {
    width: 30%;
    margin-top: 30px !important;
}