@use "../../styles/colors";

.infoCard {
  border-radius: 30px;
  margin-bottom: 2rem;
  overflow: hidden;
  height: 200px;
  background-color: colors.$background_paper;
}

.number {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-color: rgba($color: colors.$primary_main, $alpha: 0.1);
}

.text {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column !important;
}

.text > * {
  width: 50%;
}

.title {
  color: colors.$text_primary !important;
}

.description {
  color: colors.$text_secondary !important;
}
